<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Recipes: <%= controller.action_name %></title>
  <%= stylesheet_link_tag  'blueprint/screen' %>
  <%= stylesheet_link_tag  'blueprint/ie' %>
  <%= stylesheet_link_tag 'jetfive' %>
  <%= javascript_include_tag :defaults%>
</head>