<h2>Editing recipe</h2>

<%= error_messages_for :recipe %>


  <p>
    <b>Name</b><br />
    <%= in_place_editor_field :recipe, :in_place_name %>

  </p>

  <p>
    <b>Author</b><br />
    <%= in_place_editor_field :recipe, :in_place_author %>
  </p>

  <p>
    <b>Directions</b><br />
    <%= in_place_editor_field :recipe, :in_place_directions, {}, {:rows => 10} %>
  </p> 
  <div id="ingredient">
    <%= render :partial => "ingredients" %>
  </div>
  <div style="clear: both;"></div>
  <p id="add_link" ><%= link_to_function("Add an Ingredient",
                                        "Element.hide('add_link'); 
                                         Element.show('add_ingredient')")%>
                                         </p>
  <div id="add_ingredient" style="display:none;">
  <% form_remote_for Ingredient.new, :url => recipe_ingredients_path(@recipe), :update => "ingredients", :position => :bottom do |f| %>

<% fields_for :amount do |f| %>
  <p>
    <b>Group</b><br />
    <%= text_field_with_auto_complete :amount , :ing_group, {:onfocus => "clear(this)"}, {:method => :get}, [:amounts] %>
  </p>
  <p>
    <b>Amount</b><br />
    <%= text_field_with_auto_complete :amount , :ing_amnt, {:onfocus => "clear(this)"}, {:method => :get}, [:amounts] %>
  </p>
<% end %>
  <p>
    <b>Name</b><br />
    <%=  text_field_with_auto_complete :ingredient, :name, {:onfocus => "clear(this)"}, {:method => :get}, [:ingredients] %>
  </p>


  <%= f.hidden_field :recipe_id %>
  <p>
    <%= f.submit "Create", :onclick => "Element.show('add_link'); 
                                         Element.hide('add_ingredient')" %>    
  </p>

<% end %>
  </div>

 
<%= link_to 'Show', @recipe %> |
<%= link_to 'Back', recipes_path %>
