<% content_for :picture do %>
  <div class="flickr_image">
    <center>
      <%= Recipe.flickr_feed %>
    </center>
  </div>
<% end %>

<h2>Recipes</h2>
<br/>
<hr>
<div>
<% @recipes.each do |recipe| %>
  <p>
  <span class="title"><%=h recipe.name %></span><br/>
   <em>Author:</em>  <%=h recipe.author %><br/>
   <em>Directions:</em> <%= truncate(recipe.directions, 140) %><br/>
   <%= link_to 'Show', recipe %>
   <% if @logged_in_user %>
   | <%= link_to 'Edit', edit_recipe_path(recipe) %> |
   <%= link_to 'Destroy', recipe, :confirm => 'This deletes everything associated with this recipe as well as the recipe itself.  Only do this if you are certain.', :method => :delete %>
   <% end %>
   <br/>
  </p>
<% end %>
</div>

<br />

<%= link_to 'New recipe', new_recipe_path %> |
<%= link_to 'Ingredients', ingredients_path %>

<% content_for :ingredients do %>
<h2>Ingredients</h2>

<table>
  <tr>
    <th>Name</th>
  </tr>
<% count = 0 %>
<% @ingredients.sort {rand(10)}.reverse_each do |ingredient| %>
  <tr>
    <td><%=h ingredient.name %></td>
    <td><%= link_to 'Show', ingredient %></td>
  </tr>
<% count += 1 %>
<% if count == 10 %>
  <% break %>
<% end %>
<% end %>
</table>
<% end %>
