<p>
  <b>Name:</b>
  <%=h @recipe.name %>
</p>

<p>
  <b>Author:</b>
  <%=h @recipe.author %>
</p>

<p>
  <b>Oven temp:</b>
  <%=h @recipe.oven_temp %>
</p>

<p>
  <b>Directions:</b>
  <%=h @recipe.directions %>
</p>
<p>
  <b>Ingredients:</b>
  <% @recipe.amounts.each do |amount| %>
  <%=h amount.ing_amnt %> <%=h amount.ingredient.name %> 
  <% end %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
