<h1>
  <%=h @recipe.name %>
</h1>
<div class="author">
  <b>Author:</b>
  <%=h @recipe.author %>
</div>
<p>
  <%=h @recipe.directions %>
</p>

<% content_for :picture do %>
  <div class="flickr_image">
  <center>
    <%= @recipe.picture_url %>
  </center>
  </div>
<% end  %>
<% content_for :ingredients do  %>
<p>
  <b>Ingredients:</b><br/>
<% @groups.keys.to_a.each do |key| %>
  <div id="key" class="box">
    <b><%=h key %></b><br/>
    <% @groups[key].each do |amount| %>
      <%= in_place_editor_field :amount, :ing_amnt, {:fall_back => amount} %>  <%= link_to amount.ingredient.name, amount.ingredient %>
      <%= link_to image_tag('blue_x.gif'), recipe_ingredient_amount_path(@recipe,amount.ingredient,amount), :confirm => 'Are you sure?', :method => :delete %>
      <br/>
    <% end %>
  </div>
<% end %>
</p>
<% end  %>
<p style="clear: both;">
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
</p>