<h2>Edit Ingredient</h2>

<%= error_messages_for :ingredient %>

<% form_for [@recipe, @ingredient]  do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

<% fields_for @amount do |f| %>
  <p>
    <b>Amount</b><br />
    <%= f.text_field :ing_amnt %>
  </p>
<% end %>

  <%= f.hidden_field :recipe_id %>

  <p>
    <%= f.submit "Update" %>
  </p>

<% end %>

<%= link_to 'Back', recipe_path(params[:recipe_id]) %>
