<h1>New Ingredient</h1>

<%= error_messages_for :ingredient %>

<% form_for [:recipe, @ingredient] do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

<% fields_for :amount do |f| %>
  <p>
    <b>Amount</b><br />
    <%= f.text_field :ing_amnt %>
  </p>
<% end %>

  <%= f.hidden_field :recipe_id %>
  <p>
    <%= f.submit "Create" %>
  </p>

<% end %>

<%= link_to 'Back', recipes_path %>
