<h2>
  <%=h @ingredient.name %>
</h2>

<p> Recipes that have this ingredient. <br/><br/>
  <% @ingredient.recipes.uniq.each do |recipe| %>
    <%= link_to recipe.name, recipe %> <br/>
    <ul>
    <% recipe.amounts.find(:all, :conditions => {:ingredient_id => @ingredient.id}).each do |amnt| %> 
      <li><strong><%=h amnt.ing_group %></strong> <%=h amnt.ing_amnt %> <%=h amnt.ingredient.name %></li>
    <% end %>
    </ul>
  <% end %>
</p>


<%= link_to 'Back', ingredients_path %> |
<%= link_to 'Recipes', recipes_path %>
