<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<%= render :partial => "layouts/main/header" %>

<body>
  <div class="container">

      <div id='header'>
        <div class="slogan span-23"><center>STORE. SHARE. SALIVATE.</center></div>
        <div class="logo span-9">Jet5ive | Recipes</div>
        <div id="flickr" class="span-3 push-8"> &nbsp;&nbsp;<%= link_to image_tag('flickr.png'), 'http://www.flickr.com'  %>  </div>
        <div id='mainPhoto' class="span-4 push-8">
          <%= yield :picture %>
        </div>
      </div>

      <div id='nav' class="span-9">
        <%= link_to 'Recipes', recipes_path %> | <%= link_to 'Ingredients', ingredients_path %>
      </div>
      <div id='content' class="span-16">
        <p style="color: green"><%= flash[:notice] %></p>
        <div class="inner">
        <%= yield  %>
        </div>
      </div>
      <div id='ingredients' class="span-6 last push-1">

      </div>
      <div id='foot-nav' class="span-24">
        <div class='links'>
          <% if @logged_in_user %>
          <%= link_to "Logout", @application_session, :method => :delete %>
          <% else %>
          <%= link_to "Login", login_path %> | <%= link_to 'Signup', login_path %>
          <% end %>
        </div>
      </div>
  </div>

  <div id="footer-wrap">
    <div class="container">
      <div id='foot-bar' class="span-14 append-10">
          <% form_tag(ingredients_path, :method => "get") do %>
          <%= text_field_tag "term", params[:term], :value => "Search" %>
          <% end %>
      </div>

      <div id='footer' class="span-14 prepend-10">
        "You don't have to cook fancy or complicated masterpieces - just good food from fresh ingredients."
      - Julia Child
     <br/>
     <br/>
        "Slicing a warm slab of bacon is a lot like giving a ferret a shave.
     No matter how careful you are, somebody's going to get hurt."
    - Alton Brown, celebrity chef and host of Good Eats
        <%= yield :footer %>
      </div>
    </div>
  </div>

</body>
</html>
